
Library/*
Logs/*
Temp/*
WanderMath.sln
ProjectSettings/ProjectSettings.asset
Assembly-CSharp.csproj
.vs/*
.DS_Store

*.cache
*.csproj
LeanCommon.csproj
*.csproj
Assets/StreamingAssets/build_info
Builds/*
obj/*

com.kyrylokuzyk.arfoundationremote
ARFoundationRemoteInstaller
ARFoundationRemoteCompanionApp
Packages/com.unity.xr.arfoundation@4.1.7
Assets/Plugins
Assets/XR/Loaders
Assets/XR/Settings
Plugins.meta
Assembly-CSharp-Editor.csproj
Assets/XR/XRGeneralSettings.asset
LeanCommon.csproj
LeanTouch.csproj
