
TestUnityProject/Library/*
TestUnityProject/Logs/*
TestUnityProject/Assets/_TerrainAutoUpgrade/*
TestUnityProject/Assets/MobileARCourse/*
TestUnityProject/Assets/Tutorial19_InteractionChallenge/*
TestUnityProject/Temp/*
TestUnityProject/TestUnityProject.sln
TestUnityProject/ProjectSettings/ProjectSettings.asset
