
Library/*
Logs/*
Assets/_TerrainAutoUpgrade/*
Assets/MobileARCourse/*
Assets/Tutorial19_InteractionChallenge/*
Temp/*
TestUnityProject.sln
ProjectSettings/ProjectSettings.asset
Assembly-CSharp.csproj
.vs/*
.DS_Store

